.venv/
.pytest_cache/
__pycache__/
*.py[cod]
.DS_Store

data/raw/**/*
data/cache/**/*
data/processed/**/*
data/fixtures/**/*
!data/raw/data_gov/
!data/raw/data_gov/.gitkeep
!data/raw/osm/
!data/raw/osm/.gitkeep
!data/cache/
!data/cache/.gitkeep
!data/processed/
!data/processed/paths/
!data/processed/paths/.gitkeep
!data/processed/elevation/
!data/processed/elevation/.gitkeep
!data/processed/graph/
!data/processed/graph/.gitkeep
!data/fixtures/
!data/fixtures/.gitkeep

outputs/routes/**/*
outputs/maps/**/*
outputs/profiles/**/*
outputs/viz/index.html
outputs/viz/assets/**/*
outputs/viz/routes/**/*
!outputs/routes/
!outputs/routes/.gitkeep
!outputs/maps/
!outputs/maps/.gitkeep
!outputs/profiles/
!outputs/profiles/.gitkeep
!outputs/viz/
!outputs/viz/.gitkeep
!outputs/viz/assets/
!outputs/viz/assets/route_samples/
!outputs/viz/assets/route_samples/.gitkeep
!outputs/viz/routes/
!outputs/viz/routes/.gitkeep
